# Path
save_dir: ./experiments/lm

# Data
train_filepaths:
    - data/lc64/encoded/mistral32k/l4096/10BT.train
    - data/fineweb/encoded/mistral32k/l4096/10BT.train9m
valid_filepaths:
    - data/lc64/encoded/mistral32k/l4096/10BT.valid
    - data/fineweb/encoded/mistral32k/l4096/10BT.valid10k
data_processor_types:
    - base_pretrain
    - base_pretrain
valid_data_processor_types:
    - base_pretrain
    - base_pretrain
min_seq_len: 4096
max_seq_len: 4096

# Tokenizer
tokenizer_dir: mistralai/Mistral-7B-v0.1

# Optimization
global_batch_size: 128
n_epochs: 1
n_warmup_steps: 100
n_training_steps: 20000
weight_decay: 0.1

# DeepSpeed
bf16: on
zero_stage: 1

# Monitoring
validate_interval: 1000
log_interval: 10

# Wandb
wandb_project: fwpkm_train


